* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #6690b8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    position: relative;
    width: 480px;
    margin: 20px auto;
    padding: 40px 0 20px;
    border-radius: 12px;
    background-color: #000d22;
    box-shadow: 0 19px 38px rgba(24, 29, 37, 0.30), 0 15px 12px rgba(24, 29, 37, 0.22);
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.player .player__current-song {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 480px;
    padding: 0 20px 16px;
    background-color: #000d22;
    box-shadow: 0 19px 38px rgba(24, 29, 37, 0.30), 0 15px 12px rgba(24, 29, 37, 0.22);
}

.player .player__cd {
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
}

.player .player__cd::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(12, 0, 53) 0%, #4082e5 39%);
}

.player .player__cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
}

.player .player__playing-now {
    margin: 16px 0 20px;
    text-align: center;
    font-size: 12px;
}

.player .player__playing-now p {
    color: #dbc7f7;
}

.player .player__playing-now h2 {
    margin: 12px 0;
    font-size: 20px;
    font-weight: 400;
}

.player .player__controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px;
}

.player .player__controls .player__button {
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    cursor: pointer;
    transition: all 250ms ease;
}

.player .player__controls .player__button:hover,
.player .player__controls .player__button.active {
    color: #4082e5;
}

.player .player__controls .player__button.btn-toggle-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    color: #fff;
    background-color: #4082e5;
    transition: all 250ms ease;
}

.player .player__controls .player__button.btn-toggle-play:hover,
.player .player__controls .player__button.btn-toggle-play:active {
    color: inherit;
    background-color: #285296;
    opacity: 0.9;
}

.player .player__progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}

.player .player__progress .player__progress-start-time,
.player .player__progress .player__progress-end-time {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

.player .player__progress .player__progress-bar {
    flex: 1;
    height: 6px;
    margin: 16px;
    opacity: 0.7;
    cursor: pointer;
}

.player .player__playlist {
    padding: 0 20px;
}

.player .player__playlist .player__song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: #252733;
    box-shadow: 0 3px 6px rgba(37, 39, 51, 0.16), 0 3px 6px rgba(37, 39, 51, 0.23);
    cursor: pointer;
}

.player .player__playlist .player__song.active,
.player .player__playlist .player__song:hover {
    background-color: #285296;
    background: linear-gradient(90deg, rgb(12, 0, 53) 0%, #4082e5 39%);
}

.player .player__playlist .player__song.active .title,
.player .player__playlist .player__song:hover .title,
.player .player__playlist .player__song.active .author,
.player .player__playlist .player__song:hover .author,
.player .player__playlist .player__song.active .option,
.player .player__playlist .player__song:hover .option {
    color: #fff;
}

.player .player__playlist .player__song.active .player__song-number,
.player .player__playlist .player__song:hover .player__song-number {
    background-color: #252733;
}

.player .player__playlist .player__song .player__song-number {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 50%;
    color: #fff;
    background-color: #285296;
    transition: all 250ms ease;
}

.player .player__playlist .player__song .player__song-infos {
    flex: 1;
}

.player .player__playlist .player__song .player__song-infos .player__song-title {
    Font-size: 18px;
    margin-bottom: 4px;
    transition: all 250ms ease;
}

.player .player__playlist .player__song .player__song-infos .player__song-author {
    font-size: 12px;
    color: #dbc7f7;
    transition: all 250ms ease;
}

.player .player__playlist .player__song .player__song-duration {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    transition: all 250ms ease;
}